<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mmd.mmdshop.mapper.member.MemberMapper">
	<resultMap type="com.mmd.mmdshop.dbdo.MemberDO" id="MemberDO">
		<id column="member_id" property="memberId"/>
		<result column="open_id" property="openId"/>
		<result column="type" property="type"/>
		<result column="wx_name" property="wxName"/>
		<result column="head_Img" property="headImg"/>
		<result column="change_id" property="changeId"/>
		<result column="change_time" property="changeTime"/>
		<result column="change_user_id" property="changeUserId"/>
		<result column="session_key" property="sessionKey"/>
		<result column="my_session_key" property="mySessionKey"/>
		<result column="good_show" property="goodShow"/>
		<result column="date4" property="date4"/>
		<result column="date5" property="date5"/>
	</resultMap>
	
	<resultMap type="com.mmd.mmdshop.result.member.WXUserResult" id="WXUserResult">
		<id column="member_id" property="memberId"/>
		<result column="head_Img" property="headImg"/>
		<result column="mber_type" property="country"/>
		<result column="gender" property="gender"/>
		<result column="wx_name" property="wxName"/>
	</resultMap>
	
	<insert id="insertMember">
		INSERT INTO member (
			member_id,open_id,session_key,my_session_key
		)VALUES(
			NULL,#{openId},#{sessionKey},#{mySessionKey}
		);
		<selectKey resultType="java.lang.Long" order="AFTER" keyProperty="productId">
          SELECT LAST_INSERT_ID()
     	</selectKey>
     	INSERT INTO member_info (
			member_id,grade,mber_type,register_time
		)VALUES(
			#{productId},0,0,NOW()
		);
	</insert>
	
	<update id="updataMember">
		update member
        	set session_key = #{sessionKey},
        	set my_session_key = #{mySessionKey},
        where member_id=#{memberId};
	</update>
	
	<update id="updataMemberWXInfo">
		update member
        	set head_Img = #{avatarUrl},
        	wx_name = #{nickName}
        where member_id=#{memberId};
	</update>
	
	<select id="selectWXUserResult" resultMap="WXUserResult">
		SELECT
			m.member_id,
			m.wx_name,
			m.head_Img,
			mi.grade,
			mi.mber_type
		FROM
			member AS m
			LEFT JOIN member_info AS mi ON mi.member_id = m.member_id
		WHERE
			m.member_id = #{memberId}
	</select>
</mapper>
 