<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mmd.mmdshop.mapper.member.MemberMapper">
	<resultMap type="com.mmd.mmdshop.dbdo.MemberDO" id="MemberDO">
		<id column="member_id" property="memberId"/>
		<result column="open_id" property="openId"/>
		<result column="type" property="type"/>
		<result column="wx_name" property="wxName"/>
		<result column="head_Img" property="headImg"/>
		<result column="change_id" property="changeId"/>
		<result column="change_time" property="changeTime"/>
		<result column="change_user_id" property="changeUserId"/>
		<result column="session_key" property="sessionKey"/>
		<result column="my_session_key" property="mySessionKey"/>
		<result column="date3" property="date3"/>
		<result column="date4" property="date4"/>
		<result column="date5" property="date5"/>
	</resultMap>
	
	<insert id="insertMember">
		INSERT INTO member (
			member_id,open_id,session_key,my_session_key
		)VALUES(
			NULL,#{openId},#{sessionKey},#{mySessionKey}
		);
	</insert>
	
	<update id="updataMember">
		update member
        	set session_key = #{sessionKey},
        	set my_session_key = #{mySessionKey},
        where member_id=#{memberId};
	</update>
</mapper>
 