html,body{
	width: 100%;
	margin: 0 auto;
	font-size: 26px;
	background-color: #F5F5F5;
	font-family: '微软雅黑';
}

input{
	-webkit-user-select:none;
}
button{
	padding: 2px 16px;
}
input[type="file"] {
  color: transparent;
}
table tbody{
	width:100%;
}
*{
	margin:0;
	padding:0;
}
.downICON{
	width: 10px;
	height: 10px;
}

.main-header{
	width: 100%;
}
.main-header div{
	width: 46%;
	float: left;
	font-size: .57000rem;
	padding: 2%;
}
.main-section{
	clear: both;
	height: 100%;
	margin-left: 2%;
	margin-right: 2%;
	overflow-y: auto;
}
.main-section div{
	width: 100%;
}
.menuSection{
	text-align: center;
	display: none;
}

.menuHeader{
	margin-top: 2%;
}
.menuHeader div{
	padding:2% 0 2% 2%;
	background-color:white;
	font-size: .57000rem;
}

.searchInput{
	padding:5px;
}

.changeFinal{
	font-size: .57000rem;
	margin-top: 1%;
	margin-bottom: 3%;
}
.changeFinal table{
	width: 100%;
	margin-top: 5%;
}
.changeFinal table tr td{
	width: 100%;
}
.changeFinal table tr td input{
	padding: 5px;
}
.changeFinal table tr td:first-child{
	width: 30%;
	text-align: right;
	padding-right: 3%;
	padding-top: 10px;
}
.changeFinal table tr td:nth-child(2){
	width: 70%;
	text-align: left;
	padding-top: 10px;
}

.comm-img{
	width: 18%;
}

#img-c{
	width:100px;
	margin-top: 2%;
}

.commMessageHeader{
	background-color: white;
	padding-top: 5px;
	padding-bottom: 5px;
	width:94%;
	margin-left:2%;
	padding-left:2%;
	text-align: left;
	margin-top:10px;
}
.commodity-tr,.commodityDef-tr,.commodityImg-tr,.commodityState-tr,.commodityPrice-tr,.commodityGood-tr{
	display: none;
}
.commodity-tr tr,.commodityDef-tr tr,.commodityImg-tr tr,.commodityState-tr tr,.commodityPrice-tr tr,.commodityGood-tr tr{
	width:100%;
}
.commodityState-tr tr td:first-child{
	position: relative;
	left: 17%;
}
.commodityState-tr tr td:nth-child(2){
	position: relative;
	left: 23%;
}

.marketData{
	font-size: .57000rem;
}

.replenishment tr td:nth-child(1){
	width:70%; 
	background-color: #F0FFFF;
}
.replenishment tr td:nth-child(2){
	width:15%; 
	background-color: #F5F5DC;
}
.replenishment tr td:nth-child(2){
	width:15%; 
	background-color: #FDF5E6;
}
.replenishment tr td:nth-child(2) button{
	width: 100%;
	background-color: #FDF5E6;
}