<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mmd.mmdshop.mapper.show.ShowMapper">
	<resultMap type="com.mmd.mmdshop.dbdo.ShowDDO" id="ShowDDO">
		<id column="show_id" property="showId"/>
		<result column="user_id" property="userId"/>
		<result column="add_time" property="addTime"/>
		<result column="content" property="content"/>
		<result column="good" property="good"/>
		<result column="talk" property="talk"/>
		<result column="transpond" property="transpond"/>
		<result column="change_id" property="changeId"/>
		<result column="change_time" property="changeTime"/>
		<result column="change_user_id" property="changeUserId"/>
		<result column="torUrl" property="torUrl"/>
		<result column="look" property="look"/>
		<result column="date3" property="date3"/>
		<result column="date4" property="date4"/>
		<result column="date5" property="daye5"/>
	</resultMap>
	
	<select id="selectShowByMinForList" resultMap="ShowDDO">
		SELECT
			s.show_id,
			s.add_time,
			s.content,
			s.good,
			s.talk,
			s.transpond,
			s.change_id,
			s.torUrl,
			s.look
		FROM
			show_d AS s
		ORDER BY
			s.add_time DESC
		LIMIT #{item}
	</select>
</mapper>
 