<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mmd.mmdshop.mapper.order.OrderCommodityMapper">
<!--  
	<resultMap type="com.mmd.mmdshop.dbdo.ChangeTypeDO" id="ChangeTypeDO">
		<id column="user_id" property="userId"/>
		<result column="name" property="name"/>
		<result column="change_id" property="changeId"/>
		<result column="change_time" property="changeTime"/>
		<result column="change_user_id" property="changeUserId"/>
	</resultMap>
-->
	<resultMap type="com.mmd.mmdshop.dbdo.OrderCommodityDO" id="OrderCommodityDO">
		<id column="order_commodity_id" property="orderCommodityId"/>
		<result column="order_id" property="orderId"/>
		<result column="commodity_price" property="commodityPrice"/>
		<result column="commodity_id" property="commodityId"/>
		<result column="number" property="number"/>
		<result column="change_id" property="changeId"/>
		<result column="change_time" property="changeTime"/>
		<result column="change_user_id" property="changeUserId"/>
		<result column="date1" property="date1"/>
		<result column="date2" property="date2"/>
		<result column="date3" property="date3"/>
		<result column="date4" property="date4"/>
		<result column="date5" property="date5"/>
	</resultMap>
</mapper>
 