<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mmd.mmdshop.mapper.AdminUserJurisdictionMapper">
	<resultMap type="com.mmd.mmdshop.dbdo.AdminUserJurisdictionDO" id="AdminUserJurisdictionDO">
		<id column="user_id" property="userId"/>
		<result column="jur_type" property="jurType"/>
		<result column="j_change_id" property="changeId"/>
		<result column="j_chang_time" property="changeTime"/>
		<result column="j_change_user_id" property="changeUserId"/>
	</resultMap>
</mapper>
 