<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mmd.mmdshop.mapper.ChangeType">
	<resultMap type="com.mmd.mmdshop.dbdo.ChangeTypeDO" id="ChangeTypeDO">
		<id column="user_id" property="userId"/>
		<result column="name" property="name"/>
		<result column="change_id" property="changeId"/>
		<result column="change_time" property="changeTime"/>
		<result column="change_user_id" property="changeUserId"/>
	</resultMap>
</mapper>
 